
.bg-container {
    background-color: #2d3a8c;
    color: #ffffff;
}

.bookmark {
    border-radius: 10px;
    font-size: 16px;

}

.bookmark {
    background-color: #f5f7fa;
    border: 1px solid #e4e7eb;
    border-radius: 16px;
    margin-bottom: 24px;
    padding: 12px;
}

.site-name {
    color: #323f4b;
    font-weight: bold;
    font-size: 16px;
}
